soap/integracion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="urn:cuenca.integracion"
  targetNamespace="urn:cuenca.integracion"
  name="IntegracionService">

  <types>
    <xsd:schema targetNamespace="urn:cuenca.integracion">
      <!-- ===== Tipos base ===== -->
      <xsd:complexType name="Filtros">
        <xsd:sequence>
          <xsd:element name="minPrecio" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="maxPrecio" type="xsd:decimal" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Servicio">
        <xsd:sequence>
          <xsd:element name="id"            type="xsd:string"/>
          <xsd:element name="name"          type="xsd:string"/>
          <xsd:element name="adultPrice"    type="xsd:decimal"/>
          <xsd:element name="childPrice"    type="xsd:decimal"/>
          <xsd:element name="currency"      type="xsd:string"/>
          <xsd:element name="durationDays"  type="xsd:int"/>
          <xsd:element name="agencyName"    type="xsd:string"/>
          <xsd:element name="imageUrl"      type="xsd:string"/>
          <xsd:element name="description"   type="xsd:string"/>
          <xsd:element name="stock"         type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ItemCotiza">
        <xsd:sequence>
          <xsd:element name="codigo"  type="xsd:string"/>
          <xsd:element name="adultos" type="xsd:int"/>
          <xsd:element name="ninos"   type="xsd:int"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- ===== Requests / Responses ===== -->
      <xsd:element name="buscarServiciosRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="filtros" type="tns:Filtros" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="buscarServiciosResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="servicio" type="tns:Servicio" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="obtenerDetalleServicioRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idServicio" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="obtenerDetalleServicioResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="servicio" type="tns:Servicio" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="verificarDisponibilidadRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sku"      type="xsd:string"/>
            <xsd:element name="inicio"   type="xsd:string" minOccurs="0"/>
            <xsd:element name="fin"      type="xsd:string" minOccurs="0"/>
            <xsd:element name="unidades" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="verificarDisponibilidadResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ok" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="cotizarReservaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="item" type="tns:ItemCotiza" minOccurs="1" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cotizarReservaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="total"     type="xsd:string"/>
            <xsd:element name="breakdown" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="crearPreReservaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="itinerario" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cliente"    type="xsd:string" minOccurs="0"/>
            <xsd:element name="holdMinutes" type="xsd:int"   minOccurs="0"/>
            <xsd:element name="idemKey"     type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="crearPreReservaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="preBookingId" type="xsd:string"/>
            <xsd:element name="expiraEn"     type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="confirmarReservaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="preBookingId" type="xsd:string"/>
            <xsd:element name="metodoPago"   type="xsd:string" minOccurs="0"/>
            <xsd:element name="datosPago"    type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="confirmarReservaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bookingId" type="xsd:string"/>
            <xsd:element name="estado"    type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="cancelarReservaIntegracionRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bookingId" type="xsd:string"/>
            <xsd:element name="motivo"    type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="cancelarReservaIntegracionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ok" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <!-- ===== Mensajes ===== -->
  <message name="buscarServiciosRequest"><part name="parameters" element="tns:buscarServiciosRequest"/></message>
  <message name="buscarServiciosResponse"><part name="parameters" element="tns:buscarServiciosResponse"/></message>

  <message name="obtenerDetalleServicioRequest"><part name="parameters" element="tns:obtenerDetalleServicioRequest"/></message>
  <message name="obtenerDetalleServicioResponse"><part name="parameters" element="tns:obtenerDetalleServicioResponse"/></message>

  <message name="verificarDisponibilidadRequest"><part name="parameters" element="tns:verificarDisponibilidadRequest"/></message>
  <message name="verificarDisponibilidadResponse"><part name="parameters" element="tns:verificarDisponibilidadResponse"/></message>

  <message name="cotizarReservaRequest"><part name="parameters" element="tns:cotizarReservaRequest"/></message>
  <message name="cotizarReservaResponse"><part name="parameters" element="tns:cotizarReservaResponse"/></message>

  <message name="crearPreReservaRequest"><part name="parameters" element="tns:crearPreReservaRequest"/></message>
  <message name="crearPreReservaResponse"><part name="parameters" element="tns:crearPreReservaResponse"/></message>

  <message name="confirmarReservaRequest"><part name="parameters" element="tns:confirmarReservaRequest"/></message>
  <message name="confirmarReservaResponse"><part name="parameters" element="tns:confirmarReservaResponse"/></message>

  <message name="cancelarReservaIntegracionRequest"><part name="parameters" element="tns:cancelarReservaIntegracionRequest"/></message>
  <message name="cancelarReservaIntegracionResponse"><part name="parameters" element="tns:cancelarReservaIntegracionResponse"/></message>

  <!-- ===== PortType ===== -->
  <portType name="IntegracionPort">
    <operation name="buscarServicios">
      <input  message="tns:buscarServiciosRequest"/>
      <output message="tns:buscarServiciosResponse"/>
    </operation>
    <operation name="obtenerDetalleServicio">
      <input  message="tns:obtenerDetalleServicioRequest"/>
      <output message="tns:obtenerDetalleServicioResponse"/>
    </operation>
    <operation name="verificarDisponibilidad">
      <input  message="tns:verificarDisponibilidadRequest"/>
      <output message="tns:verificarDisponibilidadResponse"/>
    </operation>
    <operation name="cotizarReserva">
      <input  message="tns:cotizarReservaRequest"/>
      <output message="tns:cotizarReservaResponse"/>
    </operation>
    <operation name="crearPreReserva">
      <input  message="tns:crearPreReservaRequest"/>
      <output message="tns:crearPreReservaResponse"/>
    </operation>
    <operation name="confirmarReserva">
      <input  message="tns:confirmarReservaRequest"/>
      <output message="tns:confirmarReservaResponse"/>
    </operation>
    <operation name="cancelarReservaIntegracion">
      <input  message="tns:cancelarReservaIntegracionRequest"/>
      <output message="tns:cancelarReservaIntegracionResponse"/>
    </operation>
  </portType>

  <!-- ===== Binding ===== -->
  <binding name="IntegracionBinding" type="tns:IntegracionPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="buscarServicios">
      <soap:operation soapAction="urn:cuenca.integracion/buscarServicios"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="obtenerDetalleServicio">
      <soap:operation soapAction="urn:cuenca.integracion/obtenerDetalleServicio"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="verificarDisponibilidad">
      <soap:operation soapAction="urn:cuenca.integracion/verificarDisponibilidad"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="cotizarReserva">
      <soap:operation soapAction="urn:cuenca.integracion/cotizarReserva"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="crearPreReserva">
      <soap:operation soapAction="urn:cuenca.integracion/crearPreReserva"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="confirmarReserva">
      <soap:operation soapAction="urn:cuenca.integracion/confirmarReserva"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="cancelarReservaIntegracion">
      <soap:operation soapAction="urn:cuenca.integracion/cancelarReservaIntegracion"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <!-- ===== Service ===== -->
  <service name="IntegracionService">
    <port name="IntegracionPort" binding="tns:IntegracionBinding">
      <soap:address location="REPLACE_ME_AT_RUNTIME"/>
    </port>
  </service>
</definitions>
