soap/integracion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="urn:cuenca.integracion"
  targetNamespace="urn:cuenca.integracion"
  name="IntegracionService">

  <!-- ================== TYPES ================== -->
  <types>
    <xsd:schema targetNamespace="urn:cuenca.integracion">

      <!-- ===== Tipo Paquete que devuelve buscarPaquetes ===== -->
      <xsd:complexType name="Paquete">
        <xsd:sequence>
          <xsd:element name="id_paquete"     type="xsd:string"/>
          <xsd:element name="ciudad"        type="xsd:string"/>
          <xsd:element name="pais"          type="xsd:string"/>
          <xsd:element name="tipo_actividad" type="xsd:string"/>
          <xsd:element name="capacidad"     type="xsd:int"/>
          <xsd:element name="precio_normal" type="xsd:decimal"/>
          <xsd:element name="precio_actual" type="xsd:decimal"/>
          <xsd:element name="uri_imagen"    type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- ===== Turista y lista de turistas ===== -->
      <xsd:complexType name="Turista">
        <xsd:sequence>
          <xsd:element name="nombre"             type="xsd:string"/>
          <xsd:element name="apellido"           type="xsd:string" minOccurs="0"/>
          <xsd:element name="fecha_nacimiento"   type="xsd:string"/>
          <xsd:element name="tipo_identificacion" type="xsd:string"/>
          <xsd:element name="identificacion"     type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ListaTuristas">
        <xsd:sequence>
          <xsd:element name="turista" type="tns:Turista" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- ===== Usuario creado ===== -->
      <xsd:complexType name="UsuarioCreado">
        <xsd:sequence>
          <xsd:element name="id_usuario"    type="xsd:int"/>
          <xsd:element name="bookingUserId" type="xsd:string"/>
          <xsd:element name="nombre"        type="xsd:string"/>
          <xsd:element name="apellido"      type="xsd:string" minOccurs="0"/>
          <xsd:element name="correo"        type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- ===== Información de la reserva ===== -->
      <xsd:complexType name="ReservaInfo">
        <xsd:sequence>
          <xsd:element name="id_reserva"     type="xsd:string"/>
          <xsd:element name="id_paquete"     type="xsd:string"/>
          <xsd:element name="correo"         type="xsd:string"/>
          <xsd:element name="fecha_inicio"   type="xsd:string"/>
          <xsd:element name="duracion"       type="xsd:int"/>
          <xsd:element name="tipo_actividad" type="xsd:string"/>
          <xsd:element name="turistas"       type="tns:ListaTuristas"/>
          <xsd:element name="valor_pagado"   type="xsd:decimal"/>
          <xsd:element name="uri_factura"    type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- ====== buscarPaquetes ====== -->
      <xsd:element name="buscarPaquetesRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ciudad"        type="xsd:string"  minOccurs="0"/>
            <xsd:element name="pais"          type="xsd:string"  minOccurs="0"/>
            <xsd:element name="fecha_inicio"  type="xsd:string"  minOccurs="0"/>
            <xsd:element name="duracion"      type="xsd:int"     minOccurs="0"/>
            <xsd:element name="tipo_actividad" type="xsd:string" minOccurs="0"/>
            <xsd:element name="capacidad"     type="xsd:int"     minOccurs="0"/>
            <xsd:element name="precio_min"    type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="precio_max"    type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="sort"          type="xsd:string"  minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="buscarPaquetesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="paquete" type="tns:Paquete" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- ====== validarDisponibilidadPaquete ====== -->
      <xsd:element name="validarDisponibilidadPaqueteRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idPaquete"   type="xsd:string"/>
            <xsd:element name="fechaInicio" type="xsd:string"/>
            <xsd:element name="personas"    type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="validarDisponibilidadPaqueteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="disponible" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- ====== crearPreReservaPaquete ====== -->
      <xsd:element name="crearPreReservaPaqueteRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id_paquete"            type="xsd:string"/>
            <xsd:element name="fecha_inicio"          type="xsd:string"/>
            <xsd:element name="turistas"              type="tns:ListaTuristas"/>
            <xsd:element name="duracionHoldSegundos"  type="xsd:int" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="crearPreReservaPaqueteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id_hold" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- ====== reservarPaquete ====== -->
      <xsd:element name="reservarPaqueteRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id_paquete" type="xsd:string"/>
            <xsd:element name="id_hold"    type="xsd:string"/>
            <xsd:element name="correo"     type="xsd:string"/>
            <xsd:element name="turistas"   type="tns:ListaTuristas"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="reservarPaqueteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id_reserva" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

            <!-- ====== emitirFacturaPaquete ====== -->
      <xsd:element name="emitirFacturaPaqueteRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id_reserva"         type="xsd:string"/>
            <xsd:element name="correo"            type="xsd:string"/>
            <xsd:element name="nombre"            type="xsd:string"/>
            <xsd:element name="apellido"          type="xsd:string" minOccurs="0"/>
            <xsd:element name="tipo_identificacion" type="xsd:string"/>
            <xsd:element name="identificacion"    type="xsd:string"/>
            <xsd:element name="valor"             type="xsd:decimal"/>
            <xsd:element name="id_transaccion"    type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="emitirFacturaPaqueteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="url_factura" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>


      <!-- ====== crearUsuarioExterno ====== -->
      <xsd:element name="crearUsuarioExternoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bookingUserId" type="xsd:string"/>
            <xsd:element name="nombre"        type="xsd:string"/>
            <xsd:element name="apellido"      type="xsd:string" minOccurs="0"/>
            <xsd:element name="correo"        type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="crearUsuarioExternoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="usuario" type="tns:UsuarioCreado"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- ====== buscarDatosReserva ====== -->
      <xsd:element name="buscarDatosReservaRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id_reserva" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="buscarDatosReservaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reserva" type="tns:ReservaInfo" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <!-- ================== MESSAGES ================== -->

  <message name="buscarPaquetesRequest">
    <part name="parameters" element="tns:buscarPaquetesRequest"/>
  </message>
  <message name="buscarPaquetesResponse">
    <part name="parameters" element="tns:buscarPaquetesResponse"/>
  </message>

  <message name="validarDisponibilidadPaqueteRequest">
    <part name="parameters" element="tns:validarDisponibilidadPaqueteRequest"/>
  </message>
  <message name="validarDisponibilidadPaqueteResponse">
    <part name="parameters" element="tns:validarDisponibilidadPaqueteResponse"/>
  </message>

  <message name="crearPreReservaPaqueteRequest">
    <part name="parameters" element="tns:crearPreReservaPaqueteRequest"/>
  </message>
  <message name="crearPreReservaPaqueteResponse">
    <part name="parameters" element="tns:crearPreReservaPaqueteResponse"/>
  </message>

  <message name="reservarPaqueteRequest">
    <part name="parameters" element="tns:reservarPaqueteRequest"/>
  </message>
  <message name="reservarPaqueteResponse">
    <part name="parameters" element="tns:reservarPaqueteResponse"/>
  </message>

  <message name="emitirFacturaPaqueteRequest">
    <part name="parameters" element="tns:emitirFacturaPaqueteRequest"/>
  </message>
  <message name="emitirFacturaPaqueteResponse">
    <part name="parameters" element="tns:emitirFacturaPaqueteResponse"/>
  </message>

  <message name="crearUsuarioExternoRequest">
    <part name="parameters" element="tns:crearUsuarioExternoRequest"/>
  </message>
  <message name="crearUsuarioExternoResponse">
    <part name="parameters" element="tns:crearUsuarioExternoResponse"/>
  </message>

  <message name="buscarDatosReservaRequest">
    <part name="parameters" element="tns:buscarDatosReservaRequest"/>
  </message>
  <message name="buscarDatosReservaResponse">
    <part name="parameters" element="tns:buscarDatosReservaResponse"/>
  </message>

  <!-- ================== PORT TYPE ================== -->

  <portType name="IntegracionPort">
    <operation name="buscarPaquetes">
      <input  message="tns:buscarPaquetesRequest"/>
      <output message="tns:buscarPaquetesResponse"/>
    </operation>

    <operation name="validarDisponibilidadPaquete">
      <input  message="tns:validarDisponibilidadPaqueteRequest"/>
      <output message="tns:validarDisponibilidadPaqueteResponse"/>
    </operation>

    <operation name="crearPreReservaPaquete">
      <input  message="tns:crearPreReservaPaqueteRequest"/>
      <output message="tns:crearPreReservaPaqueteResponse"/>
    </operation>

    <operation name="reservarPaquete">
      <input  message="tns:reservarPaqueteRequest"/>
      <output message="tns:reservarPaqueteResponse"/>
    </operation>

    <operation name="emitirFacturaPaquete">
      <input  message="tns:emitirFacturaPaqueteRequest"/>
      <output message="tns:emitirFacturaPaqueteResponse"/>
    </operation>

    <operation name="crearUsuarioExterno">
      <input  message="tns:crearUsuarioExternoRequest"/>
      <output message="tns:crearUsuarioExternoResponse"/>
    </operation>

    <operation name="buscarDatosReserva">
      <input  message="tns:buscarDatosReservaRequest"/>
      <output message="tns:buscarDatosReservaResponse"/>
    </operation>
  </portType>

  <!-- ================== BINDING ================== -->

  <binding name="IntegracionBinding" type="tns:IntegracionPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

    <operation name="buscarPaquetes">
      <soap:operation soapAction="urn:cuenca.integracion/buscarPaquetes"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

    <operation name="validarDisponibilidadPaquete">
      <soap:operation soapAction="urn:cuenca.integracion/validarDisponibilidadPaquete"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

    <operation name="crearPreReservaPaquete">
      <soap:operation soapAction="urn:cuenca.integracion/crearPreReservaPaquete"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

    <operation name="reservarPaquete">
      <soap:operation soapAction="urn:cuenca.integracion/reservarPaquete"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

    <operation name="emitirFacturaPaquete">
      <soap:operation soapAction="urn:cuenca.integracion/emitirFacturaPaquete"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

    <operation name="crearUsuarioExterno">
      <soap:operation soapAction="urn:cuenca.integracion/crearUsuarioExterno"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>

    <operation name="buscarDatosReserva">
      <soap:operation soapAction="urn:cuenca.integracion/buscarDatosReserva"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <!-- ================== SERVICE ================== -->

  <service name="IntegracionService">
    <port name="IntegracionPort" binding="tns:IntegracionBinding">
      <soap:address location="REPLACE_ME_AT_RUNTIME"/>
    </port>
  </service>
</definitions>
